/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 109, 109);
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: opacity 0.3s;
  display:flex;
  width: 350px;
  font-size:x-large;
}

.navbar .nav-links li a:hover {
  opacity: 0.7;
}

/* Bagian konten utama */
.hero {
  height: 100vh; /* penuh 1 layar (viewport height) */
  background-image: url(cm.webp); /* ganti dengan nama file gambarmu */
  background-size: cover; /* agar fit ke layar */
  background-position: center; /* biar posisinya di tengah */
  background-repeat: no-repeat; /* supaya tidak berulang */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255); /* teks jadi putih agar terlihat */
  text-shadow: 0 2px 5px rgba(0,0,0,0.5); /* agar teks lebih jelas di atas gambar */
  padding-top: 80px; /* agar tidak tertutup navbar */
}


.hero h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2em;
  color: #000000;
}
